body {
    font-size: 30px;
    font-family: Roboto;
}

#titulo {
    text-align: center;
    color: red;
}

p {
    text-align: justify;
}

img {
    width: 400px;
    border-radius: 24px;
}


.quem{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
